.two-columns { columns: 2; }
.text-center { text-align: center; }

ul.layered-picture {
    margin: 0;
    padding: 0;
    position: relative;
    height: 30vh;
    list-style: none;

    > li {
        position: absolute;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    img {
        height: 100%;
        max-width: none;
        max-height: none;
    }
}
ul.layered-content {
    margin: 0;
    padding: 0;
    list-style: none;

    > .fragment { display: none; }
    > .fragment.current-fragment { display: block; }
}
