.reveal {
    &::after {
        position: fixed;
        top: 1em;
        right: 1em;
        height: 5vh;
        width: 100vw;
        background: url("../img/cssday.svg") 100%/contain no-repeat;
        opacity: .5;
    }
    img { border-width: 2px; }
    .slide-background:not(.cover) {
        background-size: contain;
    }

    pre {
        background: $pre-code-background;
        padding: .5em;
    }
    code {
        background: $code-background;
        border-radius: $code-radius;
        box-shadow: 0 .05em .1em black;
        display: inline-block;
        padding: .1em;
        margin: .1em;
        text-transform: none;
    }
    pre code {
        background: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
    }
}

body {
    background-color: #add9e4;
    background-image: url("../img/background.svg"), radial-gradient(circle closest-corner, #f7fbfc 0%, #add9e4 100%)
}
