[data-slide="flexbox-layout-1"],
[data-slide="grid-responsive"] {
    text-align: center;

    .fade-right, .fade-left {
        display: inline-block;
        vertical-align: middle;
    }
    .fade-right { width: 55%; }
    .fade-left { width: 40%; }
}
