[data-slide="flexbox-finally"] {
    .multiline-lorem {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        background: white;
        padding: 0 .5em;
        width: 20em;
        margin: 0 auto;
        text-align: left;
        box-shadow: $basic-shadow;
    }
}
