[data-slide="grid-in-production"],
[data-slide="grid-devtools"] {
    ul > li > img {
        border: 0;
        background: none;
        height: 1.4em;
        box-shadow: none;
        vertical-align: middle;
    }
}
