[data-slide="talking-about"] {
    height: 100%;
    h1 {
        position: relative;
        z-index: 10;
    }
    .appearing {
        position: absolute;;
        transform: translate(-50%, -50%);
        width: 30vw;
        margin: 0 !important;
        animation: appear .2s forward;
        opacity: 0;

        &:nth-of-type(1) {
            top: 50%;
            left: 50%;
            animation-delay: 2s;
        }
        &:nth-of-type(2) {
            top: 25%;
            left: 25%;
            animation-delay: 3s;
        }
        &:nth-of-type(3) {
            top: 75%;
            left: 75%;
            animation-delay: 4s;
        }
        &:nth-of-type(4) {
            top: 25%;
            left: 75%;
            animation-delay: 5s;
        }
        &:nth-of-type(5) {
            top: 75%;
            left: 25%;
            animation-delay: 6s;
        }
    }
}
